.App {
  text-align: center;
}


table{
  border-collapse: collapse;
}


table,th,td{
  border:1px solid black;
 
}


form{
  display: inline-block;
  background-color: aquamarine;
  padding: 40px;
}

form div{
  margin: 20px;
}

form label{
  display: inline-block;
  width: 150px;
}

select{
  width: 150px
}